<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="app/middleware.js">
  
  <error
    line="5"
    severity="info"
    message="Cyclomatic: 4,
    Halstead: 8.5160
    | Effort: 4132.9
    | Volume: 485.31
    | Vocabulary: 42"
    source="&lt;anonymous&gt;"
    />
  
</file>



<file name="app/controllers/user.js">
  
  <error
    line="9"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 8.4030
    | Effort: 4527.4
    | Volume: 538.79
    | Vocabulary: 47"
    source="&lt;anonymous&gt;"
    />
  
</file>



<file name="index.js">
  
</file>



<file name="app/controllers/authenticate.js">
  
</file>



<file name="app/db/db.js">
  
</file>



<file name="app/models/usermodel.js">
  
</file>



<file name="app/controllers/index.js">
  
</file>



</checkstyle>
